.user-text {
  font-size: 18px;
  font-weight: 300;
}

.mat-nav-list a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mat-nav-list a:hover {
  background: #232834;
}
.profile-info {
  background: #1e2129;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}
.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 4px solid #2d323e;
}
.profile-info img {
  max-width: 100%;
}
