<div class="profile-info">
  <div class="user-img">
    <img src="../assets/user.jpg" alt="user" />
  </div>
  <p>User full name</p>
</div>

<mat-nav-list>
  <a mat-list-item [routerLink]="['/grid-list']" routerLinkActive="active"
    >Grid list</a
  >
  <a mat-list-item [routerLink]="['/stepper']" routerLinkActive="active"
    >Stepper</a
  >
  <a mat-list-item [routerLink]="['/tabs']" routerLinkActive="active">Tabs</a>
  <a mat-list-item [routerLink]="['/table']" routerLinkActive="active">Table</a>
  <a mat-list-item [routerLink]="['/expansion-panel']" routerLinkActive="active"
    >Expansion Panel</a
  >
  <a mat-list-item [routerLink]="['/form']" routerLinkActive="active">Form</a>
</mat-nav-list>
