<mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Card title</mat-card-title>
        <mat-card-subtitle>Card subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Card content
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>card button</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Card title</mat-card-title>
        <mat-card-subtitle>Card subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Card content
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>card button</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Card title</mat-card-title>
        <mat-card-subtitle>Card subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Card content
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>card button</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Card title</mat-card-title>
        <mat-card-subtitle>Card subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Card content
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>card button</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
